@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-unveilWhite text-unveilBlack font-graphik;
  }
  /* Buttons */
  .btn {
    @apply font-graphik text-[11px] md:text-[13px] leading-[16px] md:leading-[25px] md:px-[30px] md:py-[10px] rounded-[8px] md:rounded-[10px] px-[20px] py-[10px];
  }
  .btn-primary {
    @apply border bg-unveilBlack text-unveilWhite border-unveilBlack;
  }
  .btn-secondary {
    @apply bg-transparent border border-unveilBlack;
  }
  .btn-fit {
    @apply w-fit;
  }
  .btn-full {
    @apply w-full;
  }
  .btn-wide {
    @apply px-20;
  }

  /* Typography */
  /* Header */
  h1,
  .h1 {
    @apply font-graphik text-[45px] md:text-[110px] leading-[90%] tracking-[-0.06em];
  }
  h2,
  .h2 {
    @apply font-teodor font-light text-[44px] leading-[110%] tracking-[-0.02em];
  }
  h3,
  .h3 {
    @apply font-graphik text-[30px] md:text-[60px] leading-[110%] md:leading-[100.6%] tracking-[-0.06em];
  }
  h4,
  .h4 {
    @apply font-teodor font-light text-[24px] md:text-[44px] leading-[26px] md:leading-[110%] tracking-[-0.03em] md:tracking-[-0.02em];
  }
  h5,
  .h5 {
    @apply font-teodor font-light font-light text-[11px] md:text-[19px] leading-[16px] md:leading-[25px];
  }

  /* S */
  .s1 {
    @apply font-graphik font-light text-[17px] md:text-[24px] leading-[19px] md:leading-[110.6%] tracking-[-0.03em] md:tracking-[-0.04em];
  }
  .s2 {
    @apply font-teodor font-light text-[16px] md:text-[24px] leading-[100%] md:leading-[26px] tracking-[-0.01em] md:tracking-[-0.03em];
  }

  /* Link */
  .l2 {
    @apply font-teodor text-[10px] md:text-[12px] leading-[19px] md:leading-[24px] tracking-[0.05em] md:tracking-[0.1em] uppercase;
  }

  /* Body */
  .b1 {
    @apply font-teodor font-light text-[24px] md:text-[44px] leading-[26px] md:leading-[130%] tracking-[-0.03em] md:tracking-[-0.02em];
  }
  .b2 {
    @apply font-teodor font-light text-[18px] leading-[130%] tracking-[-0.01em];
  }
  .b3 {
    @apply font-graphik text-[11px] md:text-[16px] leading-[16px] md:leading-[25px];
  }
  .b4 {
    @apply font-graphik text-[9px] md:text-[13px] md:leading-[25px] leading-[18px];
  }
  .b5 {
    @apply font-graphik text-[10px] leading-[25px];
  }

  /* Labels */
  .nft-print {
    @apply px-1 pt-[2px] pb-[1px] my-auto border border-unveilGreen rounded-[60px] text-[8px] uppercase leading-[11px];
  }
  .nft {
    @apply px-1 pt-[2px] pb-[1px] my-auto border border-unveilGreen bg-unveilGreen rounded-[60px] text-[8px] uppercase leading-[11px];
  }
  .print {
    @apply px-1 pt-[2px] pb-[1px] my-auto border border-unveilYellow bg-unveilYellow rounded-[60px] text-[8px] uppercase leading-[11px];
  }

  /* Transition */
  .unveilTransition {
    transition: all 0.3s ease;
    transition-timing-function: cubic-bezier(0.58, 0, 0, 1);
  }
  /* Blur */
  .bg-blur {
    backdrop-filter: blur(14px) !important;
    -webkit-backdrop-filter: blur(14px) !important;
  }
  /* Swiper */
  .payment-swiper .swiper-slide-active {
    border: 1px solid #141414;
  }
  /* Select */
  select.select {
    @apply w-full px-0 py-2 text-center bg-transparent border-b border-unveilDrakGray s2 focus:outline-none;
  }
}

/* Font family */
@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Light.woff") format("woff"),
    url("/fonts/Reckless-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Reckless";
  src: url("/fonts/Reckless-Regular.woff") format("woff"),
    url("/fonts/Reckless-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Regular.woff") format("woff"),
    url("/fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Medium.woff") format("woff"),
    url("/fonts/Graphik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tobias";
  src: url("/fonts/tobias-light.woff2") format("woff2"),
    url("/fonts/tobias-light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Teodor";
  src: url("/fonts/Teodor-light.woff2") format("woff2"),
    url("/fonts/Teodor-light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Teodor";
  src: url("/fonts/Teodor-Regular.woff2") format("woff2"),
    url("/fonts/Teodor-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
